#visitant-container {
  display: flex;
  height: 100%;
}

#visitant-background {
  flex: auto;
  background: url('../../assets/images/background-2.jpg') no-repeat;
  background-size: cover;
  background-position: center 10%;
}

#visitant-content {
  width: 700px;
  height: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
}

@media (min-width: 850px) and (max-width: 1100px) {
  #visitant-content {
    width: 500px;
  }
}

@media (min-width: 700px) and (max-width: 850px) {
  #visitant-content {
    width: 400px;
  }
}

@media (max-width: 700px) {
  #visitant-background {
    display: none;
  }

  #visitant-content {
    flex: auto;
  }
}

