.products.list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 80px;

  list-style: none;
}

.product.item {
  width: 100%;
  padding: 25px 20px 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 16px;
  border: 2px solid #EFEFEF;
  background-color: white;
}

.product.item .product.image {
  width: 100%;
  height: 203px;
  border-radius: 8px;
}

.product.item .product.detail {
  margin: 10px 0 20px;
  font-family: Quicksand;
  font-weight: bold;
}

.product.item .product.detail .name {
  color: #3E3E3E;
  font-size: 16px;
  /* max-width: 200px; */
}

.product.item .product.detail .price {
  color: #8b8b8b;
  font-size: 12px;

}

.product.item .product.buy {
  border: none;
  outline: none;
  cursor: pointer;

  width: 100%;
  padding: 5px;
  border-radius: 8px;

  font-family: Nunito;
  font-weight: bold;
  font-size: 18px;

  color: white;
  background-color: var(--primary-color);

  transition: all 0.2s ease-in-out;
}

.product.item .product.buy:hover {
  background-color: #50c47e;
}