.sign-in.container {}

.sign-in.back :first-child {
  color: #A3A3A3;
  cursor: pointer;
}

.sign-in.title {
  display: block;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 56px;
  color: #3B3B3B;
}

.sign-in.logged {
  margin-top: 8px;
  font-family: Nunito;
  font-weight: 300;
}

.sign-in.logged>a {
  text-decoration: none;

  font-weight: bold;
  color: var(--primary-color);
}

.sign-in.form {
  margin: 35px 0px 40px;
  font-family: Nunito;
  font-weight: 300;
  font-size: 20px;
}

.sign-in.form .sign-in.form-control {
  border: none;
  outline: none;
  position: relative;
}

.sign-in.form .sign-in.form-control:not(:first-child) {
  margin-top: 20px;
}


.sign-in.form .sign-in.form-control>input {
  width: 100%;
  border: 2px solid #DBDBDB;
  border-radius: 16px;
  padding: 15px 30px 15px 60px;
  font-family: Nunito;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  color: #3B3B3B;
  transition: all 0.2s ease-in-out;
}

.sign-in.form .sign-in.form-control>input:focus {
  border: 2px solid #3B3B3B;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, .5);
}

.sign-in.form .sign-in.form-control>input:focus+.icon {
  color: #3B3B3B;
}

.sign-in.form .sign-in.form-control>input::placeholder {
  color: #DBDBDB;
}

.sign-in.form .sign-in.form-control.error>input {
  border: 2px solid #fd2e12;

}

.sign-in.form .sign-in.form-control.error>input:focus {
  border: 2px solid #fd2e12;
  box-shadow: 0px 1px 7px rgba(255, 0, 0, .5);

}

.sign-in.form .sign-in.form-control.error>input:focus+.icon {
  color: #fd2e12;
}

.sign-in.form .sign-in.form-control.error>input::placeholder {
  color: #fd2e12;
}

.sign-in.form .sign-in.form-control>.icon {
  position: absolute;
  top: 20px;
  left: 25px;
  color: #DBDBDB;
  transition: all 0.2s ease-in-out;

}

.sign-in.form .sign-in.form-control.error>.icon {
  color: #fd2e12;
}

.sign-in.form .sign-in.form-control>.error-message {
  display: none;
}

.sign-in.form .sign-in.form-control.error>.error-message {
  display: block;
  color: #fd2e12;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 16px;
}

.sign-in.actions {
  display: flex;
  flex-direction: column;
}

.sign-in.actions .sign-in.action {
  border: none;
  outline: none;
  cursor: pointer;

  width: 100%;
  padding: 20px;
  border-radius: 16px;

  font-family: Nunito;
  font-weight: bold;
  font-size: 24px;

  color: white;
  background-color: var(--primary-color);

  transition: all 0.2s ease-in-out;
}

.sign-in.actions .sign-in.action:hover {
  background-color: #50c47e;
}