#sign-in-container {
  position: relative;
}

#sign-in-container .back:first-child {
  color: #A3A3A3;
  cursor: pointer;
}

#sign-in-container>.title {
  display: block;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 56px;
  color: #3B3B3B;
}

#sign-in-container>.logged {
  margin-top: 8px;
  font-family: Nunito;
  font-weight: 300;
}

#sign-in-container>.logged>a {
  text-decoration: none;

  font-weight: bold;
  color: var(--primary-color);
}

#sign-in-form {
  margin: 35px 0px 40px;
  font-family: Nunito;
  font-weight: 300;
  font-size: 20px;
}

#sign-in.actions {
  display: flex;
  flex-direction: column;
}
