#welcome-container {}

#welcome-title {
  font-family: Nunito;
  font-weight: 300;
  font-size: 20px;
}

#welcome-title>img {
  display: block;
  font-family: Quicksand;
  font-weight: bold;
  width: 324px;
}

#welcome-description {
  margin: 15px 0px 100px;
  font-family: Nunito;
  font-weight: 300;
  font-size: 20px;
}

#welcome-actions {
  display: flex;
  flex-direction: column;
}

#welcome-actions>a:not(:first-child) {
  margin-top: 15px;
}

@media (min-width: 700px) and (max-width: 850px) {
  #welcome-title>img {
    width: 250px;
  }

}

@media (min-width: 550px) and (max-width: 700px) {
  #welcome-title>img {
    width: 250px;
  }
}

@media (max-width: 550px) {
  #welcome-container {
    padding: 0 20px;
  }

  #welcome-title>img {
    width: 220px;
  }
}