#cart-container {
  margin-top: 110px;
}

.cart {
  color: #3B3B3B;
  font-family: Nunito;
}

.cart.container {
  margin-bottom: 46px;
}

.cart.container>.title {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 30px;

  margin-bottom: 20px;
}


.cart.items {
  list-style: none;

  display: flex;
  flex-direction: column;
}

.cart.items .empty {
  font-family: Nunito;
  font-size: 18px;
}

